---
import Sectionhead from "@components/sectionhead.astro";
import Container from "../components/container.astro";
import { API_BASE_URL } from "../constants";
import Layout from "../layouts/Layout.astro";

const response = await fetch(API_BASE_URL, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
				query IndexPage {
					posts(where: {orderby: {field: DATE, order: DESC}}) {
						nodes {
							slug
							date
							title
							excerpt
              author{
                node{
                  name
                }
              }
							featuredImage {
								node {
									sourceUrl
                  mediaItemUrl
                  altText
								}
							}
						}
					}
				}
      `,
  }),
});

// destructure data from our JSON
const { data } = await response.json();

//  assign the array of nodes to "posts" variable for usability
const posts = data.posts.nodes;

console.log(posts);
---

<Layout title="Blog | Nerdshouse Technologies">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Blog</Fragment>
      <Fragment slot="desc">We write about building startups.</Fragment>
    </Sectionhead>

    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <img class="w-full object-cover aspect-2/3 mb-5" alt={post?.featuredImage?.node?.altText || ""} src={post?.featuredImage?.node?.sourceUrl || ""} width={600} height={400} />
                  <div>
                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {post.title}
                    </h2>
                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">{post?.author?.node?.name}</span>
                      <span class="text-gray-400">• </span>
                      <span class="text-gray-400">
                        {new Date(post.date).toLocaleDateString("en-us", {
                          year: "numeric",
                          month: "long",
                          day: "numeric",
                        })}
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
