---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Website Development",
    description:
      "We have designed hundereds of websites for clients in many different industries. We’ve had the opportunity to work with some great clients in Toronto, The United States of America, South America, Asia and Globally.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "App Development",
    description:
      "From intuitive user interfaces to seamless functionality, our team crafts innovative mobile apps that cater to your audience's needs. Let's bring your app vision to life.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Product Management",
    description:
      "We can help you manage your products effectively, ensuring that they meet the needs of your target audience and contribute to your business's success.",
    icon: "bx:bxs-data",
  },
  {
    title: "Blog Management",
    description:
      "Leave your blog in our capable hands. Our blog management services ensure consistent, compelling, and informative content that engages readers and keeps them coming back. Whether it's industry news, insights, or captivating stories, we've got you covered.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO",
    description:
      "Search Engine Optimization (SEO) is a time-taking process that requires a lot of pampering and caressing to make a website rank higher on the web jungle. We are experts in mastering SEO.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Branding",
    description:
      "Elevate your brand's identity with our distinctive branding solutions. Our team of nerds crafts compelling brand stories, logos, and guidelines that resonate with your audience and set you apart from the competition.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need for your Business
  </h2>
  <p class="text-lg mt-4 text-slate-600">
   Already doing $$$$$ in revenue or Just starting out fresh? We have Everything one will need for their business.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

