<footer class="my-20">


  <p class="text-center text-sm text-slate-500">
    <a href="/privacy">Privacy Policy</a> &nbsp; &nbsp;
    <a href="/terms">Terms and Conditions</a>&nbsp; &nbsp;
    <a href="/refund-policy">Refund Policy</a>
    <br>

    <br>

    Copyright Â© {new Date().getFullYear()} Nerdshouse Technologies LLP. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by Nerds at<a
      href="https://www.nerdshouse.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
       Nerd's House
    </a>
  </p>
</footer>
