---
import Layout from "../../layouts/Layout.astro";

import Container from "../../components/container.astro";
import JobApplicationForm from "../../components/jobapplicationform.astro";
---

<Layout title="Career">
  <Container>
    <h2 class="text-3xl font-bold text-center">Content Writer</h2>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div class="text-slate-700">
        <!-- <h2 class="font-medium text-2xl text-gray-800">Contact Nerd's House</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have something to say? We are here to help. Fill up the form or send
          email or call phone.
        </p>
        <div class="mt-5"></div> -->

        <p class="mb-4 text-sm">
          Nerd's House Pvt. Ltd. is a forward-thinking tech company renowned for
          its innovative solutions and creative approach to digital content.
          We're on the lookout for a talented Content Writer to join our dynamic
          team. If you have a passion for crafting compelling narratives and a
          knack for engaging readers, we want to hear from you.
        </p>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>
            <b>Role:</b> Content Writer
          </li>
          <li>
            <b>Experience:</b> 1 year minimum
          </li>
          <li>
            <b>Position Open:</b> 1
          </li>
          <li>
            <b>Salary:</b> Competitive, Best in industry
          </li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Roles and Responsibilities:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>
            Write clear, concise, and engaging content for various digital
            platforms, including websites, blogs, social media, and marketing
            materials.
          </li>
          <li>
            Conduct thorough research on industry-related topics to ensure
            accuracy and relevance of content.
          </li>
          <li>
            Optimize content for search engines (SEO) by incorporating relevant
            keywords and meta tags.
          </li>
          <li>
            Ensure consistency in tone, style, and brand voice across all
            written content.
          </li>
          <li>
            Adhere to deadlines and manage time effectively to deliver
            high-quality content on schedule.
          </li>
          <li>
            Collaborate with cross-functional teams, including designers and
            marketers, to brainstorm ideas and develop content strategies.
          </li>
          <li>
            Proofread and edit content to ensure grammatical accuracy, clarity,
            and adherence to style guidelines.
          </li>
          <li>
            Stay updated on industry trends and best practices in content
            writing and digital marketing.
          </li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Skills Requirements:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>
            Excellent command of the English language with strong writing and
            editing skills.
          </li>
          <li>
            Knowledge of basic on-page SEO principles and keyword research
            techniques.
          </li>
          <li>
            Ability to generate creative ideas and translate them into
            compelling written content.
          </li>
          <li>
            Attention to detail and a commitment to producing high-quality work.
          </li>
          <li>
            Proficiency in conducting online research and synthesizing
            information from multiple sources.
          </li>
          <li>
            Familiarity with content management systems (CMS) such as WordPress.
          </li>
          <li>
            Experience with graphic design software (e.g., Adobe Photoshop) for
            creating visual content is a plus.
          </li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Qualifications:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>
            Bachelor's degree in English, Journalism, Communications, or related
            field.
          </li>
          <li>
            Previous experience as a content writer or copywriter in a
            professional setting.
          </li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Perks and Benefits:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>Competitive salary and performance-based bonuses.</li>
          <li>Paid time off and holidays.</li>
          <li>
            Opportunities for professional development and skill enhancement.
          </li>
          <li>
            Supportive and inclusive work culture that values creativity and
            collaboration.
          </li>
        </ul>

        <p class="mb-4 text-sm">
          Join us at Nerd's House Pvt. Ltd. and be part of a forward-thinking
          company that values innovation and creativity in everything we do.
        </p>
      </div>
      <div>
        <JobApplicationForm />
      </div>
    </div>
    <div class="text-center mt-8">
      <a
        href="/career"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Career</a
      >
    </div>
  </Container>
</Layout>
