---
import Layout from "../../layouts/Layout.astro";

import Container from "../../components/container.astro";
import JobApplicationForm from "../../components/jobapplicationform.astro";
---

<Layout title="Career">
  <Container>
    <h2 class="text-3xl font-bold text-center">Graphic Designer</h2>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div class="text-slate-700">
        <!-- <h2 class="font-medium text-2xl text-gray-800">Contact Nerd's House</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have something to say? We are here to help. Fill up the form or send
          email or call phone.
        </p>
        <div class="mt-5"></div> -->

        <p class="mb-4 text-sm">
          Nerd's House Pvt. Ltd. is a pioneering tech company known for its
          innovative solutions and dynamic work culture. With a global presence
          and a team of passionate professionals, we specialize in software
          product development, web designing, mobile technologies, and internet
          marketing. We are currently seeking a talented Graphic Designer to
          join our creative team and contribute to our exciting projects.
        </p>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>
            <b>Role:</b> Graphic Designer
          </li>
          <li>
            <b>Experience:</b> 2 to 4 years
          </li>
          <li>
            <b>Position Open:</b> 1
          </li>
          <li>
            <b>Salary:</b> Competitive, Best in industry
          </li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Roles and Responsibilities:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>
            Create visually appealing designs for various digital platforms,
            including websites, social media, and marketing materials.
          </li>
          <li>
            Collaborate with cross-functional teams to understand project
            requirements and deliver designs that meet objectives and deadlines.
          </li>
          <li>
            Develop concepts, graphics, and layouts for product illustrations,
            company logos, and websites.
          </li>
          <li>
            Use creative software tools such as Adobe Creative Suite (Photoshop,
            Illustrator, InDesign) to produce high-quality designs.
          </li>
          <li>
            Ensure consistency of brand identity and adherence to design
            guidelines across all projects.
          </li>
          <li>
            Stay updated on design trends, techniques, and best practices to
            continuously improve skills and deliver innovative solutions.
          </li>
          <li>
            Communicate effectively with team members and stakeholders to
            incorporate feedback and revisions into designs.
          </li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Skills Requirements:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>
            Proficiency in graphic design software, including Adobe Creative
            Suite (Photoshop, Illustrator, InDesign).
          </li>
          <li>
            Strong understanding of typography, color theory, and layout
            principles.
          </li>
          <li>
            Ability to conceptualize and create original designs that align with
            project goals and brand identity.
          </li>
          <li>
            Excellent attention to detail and time management skills to meet
            project deadlines.
          </li>
          <li>
            Strong communication and collaboration skills to work effectively in
            a team environment.
          </li>
          <li>
            Experience with web design principles and UI/UX design concepts is a
            plus.
          </li>
          <li>
            Knowledge of motion graphics and video editing software is desirable
            but not required.
          </li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Qualifications:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>
            Previous experience working as a graphic designer in a professional
            setting.
          </li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Perks and Benefits:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>Competitive salary and performance-based bonuses.</li>
          <li>Paid time off and holidays.</li>
          <li>
            Opportunities for professional development and skill enhancement.
          </li>
          <li>
            Supportive and inclusive work culture that values creativity and
            collaboration.
          </li>
        </ul>

        <p class="mb-4 text-sm">
          Join us at Nerd's House Pvt. Ltd. and be part of a forward-thinking
          company that values innovation and creativity in everything we do.
        </p>
      </div>
      <div>
        <JobApplicationForm />
      </div>
    </div>
    <div class="text-center mt-8">
      <a
        href="/career"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Career</a
      >
    </div>
  </Container>
</Layout>
