---
import Layout from "../../layouts/Layout.astro";

import Container from "../../components/container.astro";
import JobApplicationForm from "../../components/jobapplicationform.astro";
---

<Layout title="Career">
  <Container>
    <h2 class="text-3xl font-bold text-center">WordPress Developer</h2>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div class="text-slate-700">
        <!-- <h2 class="font-medium text-2xl text-gray-800">Contact Nerd's House</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have something to say? We are here to help. Fill up the form or send
          email or call phone.
        </p>
        <div class="mt-5"></div> -->

        <p class="mb-4 text-sm">
          Nerd's House Pvt. Ltd. is a dynamic tech company dedicated to
          providing innovative solutions in the digital sphere. With a focus on
          creativity and cutting-edge technology, we're seeking a skilled
          WordPress Developer to join our team. If you're passionate about web
          development and thrive in a collaborative environment, we want to hear
          from you.
        </p>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>
            <b>Technology:</b> WordPress
          </li>
          <li>
            <b>Role:</b> WordPress Developer
          </li>
          <li>
            <b>Experience:</b> Minimum 1 Year
          </li>
          <li>
            <b>Position Open:</b> 1
          </li>
          <li>
            <b>Salary:</b> Competitive, Best in industry
          </li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Roles and Responsibilities:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>
            Develop and maintain WordPress-based websites with a focus on
            performance, security, and user experience.
          </li>
          <li>
            Customize WordPress themes and plugins according to project
            requirements.
          </li>
          <li>
            Collaborate with designers and other developers to implement website
            features and functionality.
          </li>
          <li>
            Troubleshoot and resolve issues with existing WordPress websites,
            including debugging code and addressing security vulnerabilities.
          </li>
          <li>
            Stay up-to-date with the latest WordPress trends, tools, and best
            practices.
          </li>
          <li>
            Provide technical support and guidance to clients and internal teams
            as needed.
          </li>
          <li>
            Contribute to the continuous improvement of development processes
            and workflows.
          </li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Skills Requirements:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>Proficiency in PHP, HTML, CSS, JavaScript, and MySQL.</li>
          <li>
            Strong understanding of WordPress architecture, themes, and plugins.
          </li>
          <li>Experience with custom theme and plugin development.</li>
          <li>Knowledge of responsive web design principles.</li>
          <li>Familiarity with version control systems such as Git.</li>
          <li>Ability to work independently and as part of a team.</li>
          <li>Excellent problem-solving and communication skills.</li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Qualifications:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>
            Bachelor's degree in Computer Science, Information & Technology,
            Engineering, BCA, MCA or related field.
          </li>
          <li>
            Previous experience working with WordPress and developing custom
            themes and plugins.
          </li>
        </ul>

        <h2 class="text-lg font-bold mb-2">Perks and Benefits:</h2>

        <ul class="list-disc text-sm font-extralight pl-8 mb-4">
          <li>Competitive salary and performance-based bonuses.</li>
          <li>Paid time off and holidays.</li>
          <li>
            Professional development opportunities, including training and
            certifications.
          </li>
          <li>Collaborative and inclusive work culture.</li>
          <li>
            Opportunity to work on exciting projects with a diverse team of
            professionals.
          </li>
        </ul>

        <p class="mb-4 text-sm">
          Join us at Nerd's House Pvt. Ltd. and be part of a forward-thinking
          company that values innovation and creativity in everything we do.
        </p>
      </div>
      <div>
        <JobApplicationForm />
      </div>
    </div>
    <div class="text-center mt-8">
      <a
        href="/career"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Career</a
      >
    </div>
  </Container>
</Layout>
